.site-footer {
	.site-footer__container {
		background-color: $gray-200;
		padding: 2rem 0;

		h3 {
			color: $gray-700;
			font-size: 0.9rem;
			font-weight: 600;
			padding-bottom: 0.75rem !important;
			margin-bottom: 0;
			border-bottom: 1px solid $gray-500;

			@include media-breakpoint-down(sm) {
				font-size: 1.1rem;
				text-align: center;
				border-bottom: none;
			}
		}

		.site-footer__socials {
			.site-footer__logo {
				text-align: center;
			}

			.site-footer__social-links {
				margin-top: 1rem;
				text-align: center;

				a {
					display: inline-flex;
					justify-content: center;
					text-decoration: none;
					background-color: $gray-800;
					border-radius: 50%;
					width: 1.9rem;
					height: 1.9rem;
					color: $white;
					align-items: center;
					font-size: 1rem;
					margin: 2px;
					transition: background-color 0.5s ease-in-out;

					&:hover {
						background-color: $indigo;
					}
				}
			}

			@include media-breakpoint-down(sm) {
				margin-bottom: 2rem;
			}
		}

		.site-footer__nav,
		.site-footer__last-posts {
			ul {
				padding: 0;
				margin: 0;
				list-style: none;

				li {
					padding: 0.5rem 0;
					border-bottom: 1px solid $gray-400;

					&:last-child {
						border-bottom: none;
					}

					&.active {
						a {
							color: $indigo;
						}
					}

					a {
						text-decoration: none;
						color: $gray-800;
						font-weight: 300;
						font-size: 0.75rem;
						transition: color 0.5s ease-in-out;

						&:hover {
							color: $indigo;
						}
					}
				}
			}

			@include media-breakpoint-down(sm) {
				display: none;
			}
		}

		.site-footer__contact-info {
			address {
				padding: 0.6rem 0;
				margin-bottom: 0;

				p {
					font-size: 0.75rem;
					color: $gray-800;
					font-weight: 300;
					padding: 0;
					margin-bottom: 0.6rem;

					&:last-child {
						margin-bottom: 0;
					}
				}

				@include media-breakpoint-down(sm) {
					text-align: center;
					padding: 0;
				}
			}
		}
	}

	.site-footer__vendor {
		@include footer-vendor();
	}
}
