aside {
    &.sidebar-area {
        .widget {
            font-weight: 400;
            font-size: 0.8rem;
            padding: 0;
            margin: 0;
            margin-bottom: 1rem;
            color: $gray-800;

            &:last-child {
                margin-bottom: 0;
            }

            h3 {
                font-size: 1rem;
                font-weight: 700;
            }

            ul {
                list-style: none;
                padding: 0;
            }

            li {
                a {
                    text-decoration: none;
                    color: $gray-800;
                }
            }
        }
    }
}
